name: build

on:
  push:
    branches: [ main ]
    tags: [ v* ]
  pull_request: {}

permissions:
  contents: write
  pull-requests: write

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        go-version: ['1.24.x', '1.25.x']
        os: [ubuntu-latest, ubuntu-24.04-arm]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
 
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
          cache: true

      - name: Install Just
        uses: extractions/setup-just@v2

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          args: ./... --config=.golangci.yml --timeout=5m
          version: v2.7.2
      
      - name: Run Tests
        run: just test-race

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        if: startsWith(github.ref, 'refs/tags/') && matrix.os == 'ubuntu-latest' && matrix.go-version == '1.25.x'
        with:
          distribution: goreleaser
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}